@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --header: 5rem;
    --footer: 3rem;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   93928100
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    min-width: 100%;
}

/* Grid Container*/

#container {
    outline: 1px solid red;
    height: 100vh;
    border: 1px solid #000;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header header"
        "aside-1 main main main aside-2"
        "footer footer footer footer footer";
}

/* Header Section */

header {
    outline: 1px solid blue;
    height: var(--header);
    grid-area: header;
}

nav {
    height: inherit;
    outline: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-navbar {
    display: flex;
    gap: 1rem;
}

.right-navbar {
    display: flex;
    gap: 1rem;
}

/* Main Section */

main {
    height: var(--main);
    outline: 1px solid yellow;
    grid-area: main;
}

/* Aside Section */

aside {
    outline: 1px solid purple;
}

.aside-1 {
    outline: 1px solid orange;
    text-align: center;
    grid-area: aside-1;
}

.aside-2 {
    outline: 1px solid maroon;
    text-align: center;
    grid-area: aside-2;
}

/* Footer Section */

footer {
    outline: 1px solid grey;
    height: var(--footer);
    grid-area: footer;
}